<%- include('header') %> 
      <br>
      <br>
      <br>
    <div class="container">
        <h1 class="text-center" style="color: white;">User Dashboard</h1>
    </div>

    <%- include('footer') %>
